@{
    Layout = "_PageLayout";
    ViewData["Title"] = "Галерея";
}

@model GalleryViewModel

@section Styles {
    <link type="text/css" rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="~/lib/jquery-lightgallery/css/lightgallery.min.css">
    <link type="text/css" rel="stylesheet" href="~/css/home/gallery.css">
}

<div class="inner-container">
    <ul id="operations-accordion" class="unordered-list accordion">
        @{
            var operationTypeIndex = 0;
            var galleryIndex = 0;
        }

        @foreach (var operationType in Model.OperationTypes)
        {
            <li>
                <button class="btn btn-block btn-outline-success no-accent operation-type"
                        data-toggle="collapse"
                        data-target="#operation-samples-@operationTypeIndex"
                        role="button"
                        aria-expanded="false"
                        aria-controls="operation-samples-@operationTypeIndex">
                    @operationType.Title
                </button>

                <div id="operation-samples-@operationTypeIndex" class="row justify-content-center no-gutters collapse operation-sample" data-parent="#operations-accordion">
                    @foreach (var sample in operationType.Samples)
                    {
                        <div id="light-gallery-@galleryIndex"
                             class="col-sm-auto light-gallery">
                            @{ 
                                var firstItem = sample.First();
                                var remainingItems = @sample.Skip(1);
                            }

                            <a href="@Url.Content(firstItem.Key)">
                                <img class="gallery-thumbnail" src="@Url.Content(firstItem.Value)"/>
                            </a>

                            @foreach (var pair in remainingItems)
                            {
                                <a href="@Url.Content(pair.Key)" style="display:none;">
                                    <img class="gallery-thumbnail" src="@Url.Content(pair.Value)"/>
                                </a>
                            }
                        </div>

                        galleryIndex++;
                    }
                </div>
            </li>

            operationTypeIndex++;
        }
    </ul>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-lightgallery/js/lightgallery.min.js"></script>
    <script src="~/lib/jquery-lightgallery/js/lg-fullscreen.min.js"></script>
    <script src="~/lib/jquery-lightgallery/js/lg-thumbnail.min.js"></script>
    <script src="~/lib/jquery-lightgallery/js/lg-hash.min.js"></script>

    <script type="text/javascript">
        (function ($) {
            'use strict';

            $(document).ready(function () {
                var galleriesCount = @galleryIndex + 1;

                for (var i = 0; i < galleriesCount; i++) {
                    var $lightGallery = $('#light-gallery-' + i).lightGallery({
                        galleryId: i,
                        download: false,
                        controls: false
                    });

                    $lightGallery.on('onBeforeOpen.lg', function (event) {
                        $('.page-wrapper.loaded .close-btn', parent.document).hide();
                    });

                    $lightGallery.on('onBeforeClose.lg', function (event) {
                        $('.page-wrapper.loaded .close-btn', parent.document).show('slow');
                    });
                }
            });
        })(jQuery);
    </script>
}