@{
    ViewData["Title"] = "Home Page";
}

<div id="scene"></div>

<div id="policy">
    <div>
        <iframe src="@Url.Action("Privacy","Home")"></iframe>
        <div id="hide-policy-btn" class="close-btn"></div>
    </div>
</div>

<div id="social-links">
    <ul>
        <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
        <li><a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://plus.google.com/" target="_blank"><i class="fa fa-google-plus"></i></a></li>
        <li><a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a></li>
    </ul>
</div>

<div id="footer">
    PERFECTO &copy; 2019
    <ul id="policy-btns"><li><a id="show-policy-btn" href="@Url.Action("Privacy","Home")">Privacy policy</a></li></ul>
</div>

@section Scripts {
    <script type="text/javascript">
        var perfectoApp = new Perfecto.App('scene', 'img/map.png');

        perfectoApp.setLinks([
            { "text": "About Us", "url": "@Url.Action("About", "Home")" },
            { "text": "New Services", "url": "@Url.Action("NewServices", "Home")" },
            { "text": "Our Clients", "url": "@Url.Action("OurClients", "Home")" },
            null,
            { "text": "Hot Offers", "url": "@Url.Action("HotOffers", "Home")" },
            { "text": "Photo Gallery", "url": "@Url.Action("PhotoGallery", "Home")" },
            { "text": "Procedures", "url": "@Url.Action("Procedures", "Home")" },
            { "text": "Our Staff", "url": "@Url.Action("OurStaff", "Home")" },
            { "text": "Contacts", "url": "@Url.Action("Contacts", "Home")" }
        ]);

        // Set logo text and position
        perfectoApp.setLogo(3, 'MSS', 'Plastic Surgery');
    </script>
}
