@{
    ViewData["Title"] = "Home Page";
}

<div id="scene"></div>

<div id="policy">
    <div>
        <iframe src="@Url.Action("Privacy","Home")"></iframe>
        <div id="hide-policy-btn" class="close-btn"></div>
    </div>
</div>

<div id="footer">
    MSSURGEON &copy; @DateTime.Now.Year
    <ul id="policy-btns"><li><a id="show-policy-btn" href="@Url.Action("Privacy","Home")">Privacy policy</a></li></ul>
</div>

@section Scripts {
    <script type="text/javascript">
        var perfectoApp = new Perfecto.App('scene', 'img/tiles-background-r.png');

        perfectoApp.setLinks([
            { "text": "Обо мне", "url": "@Url.Action("About", "Home")" },
            { "text": "Сертификаты", "url": "@Url.Action("Certificates", "Home")" },
            { "text": "Галерея", "url": "@Url.Action("Gallery", "Home")" },
            null,
            { "text": "Виды операций", "url": "@Url.Action("OperationTypes", "Home")" },
            { "text": "Пациенту до операции", "url": "@Url.Action("BeforeOperation", "Home")" },
            { "text": "Пациенту после операции", "url": "@Url.Action("AfterOperation", "Home")" },
            { "text": "Отзывы", "url": "@Url.Action("OurStaff", "Home")" },
            { "text": "Контакты", "url": "@Url.Action("Contacts", "Home")" }
        ]);

        perfectoApp.setLogo(3, 'МСС', 'пластический хирург', null, '@Url.Content("img/avatars/mss-signature-white.png")');
    </script>
}
