<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>@ViewData["Title"] - МСС</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <meta name="msapplication-tap-highlight" content="no">

    <environment names="Development">
        <link rel="stylesheet" href="@Url.Content("~/css/admin/main.css")" />
        <link rel="stylesheet" href="@Url.Content("~/lib/jquery-ajax-uploader/src/css/jquery.dm-uploader.css")" />
    </environment>

    <environment names="Production">
        <link rel="stylesheet" href="@Url.Content("~/css/admin/main.css")" />
        <link rel="stylesheet" href="@Url.Content("~/lib/jquery-ajax-uploader/dist/css/jquery.dm-uploader.min.css")" />

        @*<link rel="stylesheet" href="~/view-resources/Views/_Bundles/layout-libs.min.css" asp-append-version="true" />*@
    </environment>
</head>
<body>
    @RenderBody()

    <environment names="Development">
        <script src="@Url.Content("~/lib/jquery/dist/jquery.js")" asp-append-version="true"></script>
        <script src="@Url.Content("~/js/admin/main.js")" asp-append-version="true"></script>
        <script src="@Url.Content("~/lib/bootstrap/dist/js/bootstrap.js")" asp-append-version="true"></script>
        <script src="@Url.Content("~/lib/jquery-ajax-uploader/src/js/jquery.dm-uploader.js")" asp-append-version="true"></script>

        <script src="@Url.Content("~/js/utils/utils.js")"></script>
    </environment>

    <environment names="Production">
        <script src="@Url.Content("~/lib/jquery/dist/jquery.js")" asp-append-version="true"></script>
        <script src="@Url.Content("~/js/admin/main.js")" asp-append-version="true"></script>
        <script src="@Url.Content("~/lib/bootstrap/dist/js/bootstrap.min.js")" asp-append-version="true"></script>
        <script src="@Url.Content("~/lib/jquery-ajax-uploader/dist/js/jquery.dm-uploader.min.js")" asp-append-version="true"></script>

        <script src="@Url.Content("~/js/utils/utils.js")" asp-append-version="true"></script>

        @*<script src="~/view-resources/Views/_Bundles/layout-libs.min.js" asp-append-version="true"></script>*@
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>