<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="google-site-verification" content="phhIYoFuN-kfA_379kTwosxFxXTxhuzvRzMtz0DcB5A" />
    <meta name="yandex-verification" content="9f8267e2bfa3cd33" />
    <meta name="description" content="Увеличение груди (аугментационная маммопластика), Подтяжка груди (мастопексия), Уменьшение груди (редукционная маммопластика), Пластика век (блефаропластика), Пластика передней брюшной стенки (абдоминопластика), Пластика ушных раковин (отопластика), Увеличение голеней (круропластика)" />
    <meta name="keywords" content="хирург, пластика, Мечковский Сергей Сергеевич, увеличение груди, подтяжка груди, уменьшение груди">

    <title>Мечковский Сергей Сергеевич - @ViewData["Title"]</title>

    <environment names="Development">
        <link rel="stylesheet" href="@Url.Content("~/lib/font-awesome/font-awesome.min.css")" />
        <link rel="stylesheet" href="@Url.Content("~/css/font-faces/open-sans.css")" />
        <link rel="stylesheet" href="@Url.Content("~/css/home/main.css")" />
    </environment>

    <environment names="Production">
        <link rel="stylesheet" href="@Url.Content("~/lib/font-awesome/font-awesome.min.css")" asp-append-version="true" />
        <link rel="stylesheet" href="@Url.Content("~/css/font-faces/open-sans.css")" />
        <link rel="stylesheet" href="@Url.Content("~/css/home/main.css")" asp-append-version="true" />
        @*<link rel="stylesheet" href="~/view-resources/Views/_Bundles/layout-libs.min.css" asp-append-version="true" />*@
    </environment>
</head>
<body>
    @if(Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT") != "Production")
    {
        <div style="font-family: cursive;position: absolute;font-size: 20px;">Environment: @(Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT"))</div>
    }

    @RenderBody()

    <environment names="Development">
        <script src="~/lib/three/three.min.js"></script>

        <script src="~/js/home/main.js" asp-append-version="true"></script>
    </environment>

    <environment names="Production">
        <script src="~/lib/three/three.min.js"></script>

        <script src="~/js/home/main.js" asp-append-version="true"></script>
        @*<script src="~/view-resources/Views/_Bundles/layout-libs.min.js" asp-append-version="true"></script>*@
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
